@model dynamic

<h2>Kosár</h2>

<table class="table">
    <tr>
        <th>Termék</th>
        <th>Ár</th>
        <th>Mennyiség</th>
        <th>Összesen</th>
        <th></th>
    </tr>

    @foreach (var item in Model)    
    {
        <tr>
            <td>@item.Termek.Name</td>
            <td>@item.Termek.Price Ft</td>
            <td>@item.Mennyiseg</td>
            <td>@(item.Termek.Price* item.Mennyiseg) Ft</td>
            <td>
                <a asp-action="Torles" asp-route-id="@item.KosarId">
                    ❌
                </a>
            </td>
        </tr>
    }
</table>

<h3>Végösszeg: @ViewBag.Osszeg Ft</h3>

<a asp-action="Veglegesites" class="btn btn-success">
    Rendelés véglegesítése
</a>
